.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    color: #fff;
    padding: 10px;
}
.searchbar form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #333;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}
.searchbar input {
    margin-left: 10px;
}